<style type="text/css">
  td, th {
    padding: 5px;
  }
</style>

<h1>Listing All Paths</h1>
<p>
  <% bob = @paths.find(1) %>
  <%= link_to "Create a new path", { :controller => "paths", :action => "new", :parent => bob } %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Position</th>
  </tr>
  <% @paths.each do |f| %>
    <tr>
      <td><%= f.title %></td>
      <td><%= f.content %></td>
      <td><%= f.position %></td>
      <td><%= link_to "Edit", { :controller => "paths", :action => "edit", :id => f, :parent => f.id } %></td>
      <td><%= link_to "Show", path_path(f) %></td>
      <td><%= link_to "Destroy", path_path(f), method: :delete, data: {confirm: "Are you sure?"}%></td>
    </tr>
  <% end %>
</table>