<% parent = @id.position %>
<% variable = "" %>

<% while parent.include? "." %>
  <% variable += parent[0 .. parent.index(".")] %>
  <% parent = parent[parent.index(".") + 1 .. (parent.length - 1)] %>
<% end %>

<% variable = variable.chomp(".") %>

<% @nodes.each do |f| %>
  <% if f.position == variable %>
    <%= link_to "Back to #{f.title}", {:controller => "displays", :action => "show", :id => f } %>
  <% end %>
<% end %>

<% if @id.title != "1" %>
<h1><%= @id.title %></h1></br>
<p><%= @id.content %></p></br>
<% end %>

<% hasChildren = false %>
<% @nodes.each do |f| %>
  <% if f.parent() == Node.find(params[:id]).position %>
    <% hasChildren = true %>
  <% end %>
<% end %>

<% string = @id.position.to_s + "." %>

<% if hasChildren %>
<table>
  <tr>
    <th>Select:</th>
  </tr>
  <% @nodes.each do |f| %>
    <% if !f.position.index(string).nil? %>
      <% if f.parent == @id.position %>
        <tr>
          <td><%= link_to "#{f.title}", {:controller => "displays", :action => "show", :id => f } %> </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table><br/>
<% end %>

<%= link_to "Main", "/displays" %>