<style type="text/css">
  body{
    background-color:##00004d;
    color:#000;
  }
  
  .nav{
    padding: 10px;
    font-weight: bold;
  }
  
  .main{
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffa500;
    color: #000000;
  }
  
  li{
    display:inline;
    color:#000000;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .center{
    text-align:center;
  }
</style>

<div introduction class="nav">
  <ul>
    <li><a href="http://www.w3schools.com/">W3Schools</a></li>
    <li><%= link_to("Information","#information") %></li>
    <li><%= link_to("Information2","#information2") %></li>
    <li><%= link_to("Information3","#information3") %></li>
    <li><%= link_to("Image Map","#imagemap") %></li>
    <li><%= link_to("Slider","#sliderStuff") %></li>
    <li><%= link_to "Background", 'asdf' %></li>
  </ul>
</div>
<div id="information" class="main">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna magna, tempus sit amet velit in, blandit imperdiet sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras volutpat dignissim ligula, et blandit sapien pellentesque nec. Maecenas augue arcu, dignissim tempor odio ultricies, suscipit dictum tellus. Aenean ac ligula diam. Vestibulum ornare arcu facilisis fermentum lacinia. Curabitur ullamcorper urna at aliquam posuere.

Sed convallis et ex vehicula pretium. Integer non neque eget ligula tincidunt tempor vestibulum nec est. Nulla hendrerit porttitor imperdiet. Pellentesque in imperdiet ligula, venenatis faucibus diam. Cras ligula nulla, egestas non ligula sit amet, eleifend vulputate ipsum. In sit amet hendrerit mi. Maecenas ullamcorper, purus quis fermentum dapibus, nulla massa elementum lectus, sed porta neque erat a est. Proin auctor accumsan risus eu vulputate. Phasellus lobortis turpis vitae mauris ornare, vitae tristique lectus convallis. Vestibulum condimentum in lorem quis consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Phasellus porttitor arcu efficitur tortor efficitur, at sodales mauris maximus. Integer varius augue nibh, eu egestas lorem dictum eu. Duis auctor, odio non pharetra ullamcorper, dolor quam vestibulum eros, nec egestas massa orci quis neque. Sed quis imperdiet erat, vitae ultricies tellus. Morbi orci nisi, porttitor quis ornare pharetra, gravida et orci. Donec porttitor, mauris nec fermentum feugiat, arcu eros ultrices nibh, at pharetra augue odio quis sapien. Suspendisse accumsan tincidunt elit, in maximus leo cursus eget. Cras a cursus purus. Proin vitae dictum ex. Nunc porta ac purus id aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris non nunc ante. Nullam blandit, sapien a rutrum ultricies, mauris metus feugiat magna, id efficitur arcu nibh vitae neque. Suspendisse eget porta sem. Nunc nisl erat, posuere et metus faucibus, consequat ultricies nibh. Nam non dapibus nisi, sed iaculis sem.

Pellentesque feugiat ut ex non facilisis. Nunc pretium consequat velit in venenatis. Fusce accumsan non lacus lobortis consectetur. Donec in eleifend ex. Ut et nulla sapien. Cras consequat dolor et interdum finibus. Curabitur in accumsan risus.

Curabitur quis dui congue, mattis velit eget, ornare sapien. Aliquam quis lorem at mauris rutrum tempus. Nam et dictum nulla. Aliquam erat volutpat. Etiam eleifend luctus ligula, eu finibus nunc porttitor eu. Morbi gravida facilisis lectus, id porttitor nunc. Fusce id ultricies quam. Nullam sit amet porttitor justo. Aliquam erat volutpat. Vivamus posuere libero et venenatis sollicitudin. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam porttitor tortor est, nec luctus elit condimentum tempor. Aenean sed aliquam lectus. Praesent aliquet diam ac dignissim tincidunt.
  </p>
  </div>

<div id="information2" class="main">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna magna, tempus sit amet velit in, blandit imperdiet sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras volutpat dignissim ligula, et blandit sapien pellentesque nec. Maecenas augue arcu, dignissim tempor odio ultricies, suscipit dictum tellus. Aenean ac ligula diam. Vestibulum ornare arcu facilisis fermentum lacinia. Curabitur ullamcorper urna at aliquam posuere.

Sed convallis et ex vehicula pretium. Integer non neque eget ligula tincidunt tempor vestibulum nec est. Nulla hendrerit porttitor imperdiet. Pellentesque in imperdiet ligula, venenatis faucibus diam. Cras ligula nulla, egestas non ligula sit amet, eleifend vulputate ipsum. In sit amet hendrerit mi. Maecenas ullamcorper, purus quis fermentum dapibus, nulla massa elementum lectus, sed porta neque erat a est. Proin auctor accumsan risus eu vulputate. Phasellus lobortis turpis vitae mauris ornare, vitae tristique lectus convallis. Vestibulum condimentum in lorem quis consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Phasellus porttitor arcu efficitur tortor efficitur, at sodales mauris maximus. Integer varius augue nibh, eu egestas lorem dictum eu. Duis auctor, odio non pharetra ullamcorper, dolor quam vestibulum eros, nec egestas massa orci quis neque. Sed quis imperdiet erat, vitae ultricies tellus. Morbi orci nisi, porttitor quis ornare pharetra, gravida et orci. Donec porttitor, mauris nec fermentum feugiat, arcu eros ultrices nibh, at pharetra augue odio quis sapien. Suspendisse accumsan tincidunt elit, in maximus leo cursus eget. Cras a cursus purus. Proin vitae dictum ex. Nunc porta ac purus id aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris non nunc ante. Nullam blandit, sapien a rutrum ultricies, mauris metus feugiat magna, id efficitur arcu nibh vitae neque. Suspendisse eget porta sem. Nunc nisl erat, posuere et metus faucibus, consequat ultricies nibh. Nam non dapibus nisi, sed iaculis sem.

Pellentesque feugiat ut ex non facilisis. Nunc pretium consequat velit in venenatis. Fusce accumsan non lacus lobortis consectetur. Donec in eleifend ex. Ut et nulla sapien. Cras consequat dolor et interdum finibus. Curabitur in accumsan risus.

Curabitur quis dui congue, mattis velit eget, ornare sapien. Aliquam quis lorem at mauris rutrum tempus. Nam et dictum nulla. Aliquam erat volutpat. Etiam eleifend luctus ligula, eu finibus nunc porttitor eu. Morbi gravida facilisis lectus, id porttitor nunc. Fusce id ultricies quam. Nullam sit amet porttitor justo. Aliquam erat volutpat. Vivamus posuere libero et venenatis sollicitudin. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam porttitor tortor est, nec luctus elit condimentum tempor. Aenean sed aliquam lectus. Praesent aliquet diam ac dignissim tincidunt.</p>
</div>
<div id="information3" class="main">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum libero consequat risus pulvinar lobortis. Aliquam et dolor commodo, dapibus purus vel, aliquet nulla. Morbi efficitur arcu nisl, sit amet varius odio tristique vel. Donec nisl dui, sollicitudin in pharetra quis, commodo ut dolor. Nunc pretium vestibulum pharetra. Cras quis nisi finibus, eleifend lacus sit amet, congue lacus. Quisque vitae arcu eu risus fringilla cursus in eget ex. Nulla et nibh a nisl hendrerit sodales. Aliquam metus leo, gravida nec nunc ac, porta semper ligula.

Ut viverra magna ut libero tempus, non congue sapien convallis. Morbi vestibulum ipsum vitae metus faucibus varius. Morbi at pulvinar lacus. Quisque gravida in dui at vestibulum. Fusce placerat auctor lacus vitae fringilla. Sed a augue consectetur, facilisis ante nec, efficitur eros. Integer ultricies convallis quam sed iaculis. Aenean sollicitudin, ligula at viverra vehicula, neque orci ultrices mauris, vitae finibus ante lorem eu mi. Donec vitae est sit amet mi iaculis lobortis nec et tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer tempor augue id orci volutpat sagittis.

Maecenas et posuere tellus. Nullam iaculis commodo suscipit. Mauris id molestie massa, nec faucibus ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec tempus mi sagittis, dapibus odio eu, sagittis nibh. Nullam viverra eget diam sit amet vestibulum. Maecenas a erat blandit, venenatis urna id, fermentum tellus. Aliquam in nibh in quam sodales scelerisque. Pellentesque tristique est ut mollis consequat. Nullam fermentum aliquet nibh, et tincidunt tellus ultricies eu. Mauris mollis pulvinar elit et dictum. Donec varius malesuada turpis in congue. Vivamus a eros et diam tristique iaculis nec sed magna. Suspendisse quis pellentesque diam. Praesent non nisl diam. Etiam maximus sit amet massa nec facilisis.

Praesent nec volutpat quam. Curabitur mollis venenatis egestas. Sed mauris sapien, elementum at nunc non, sollicitudin cursus diam. Proin feugiat massa et blandit maximus. Fusce elementum volutpat convallis. Vivamus nec suscipit ex, dignissim consequat nisl. Morbi urna erat, rutrum sit amet ipsum vulputate, viverra euismod nunc. Sed tellus massa, vulputate a commodo vel, viverra sed quam. Vivamus ultricies sollicitudin sem, in posuere libero consectetur non. Aliquam tempor, magna non suscipit feugiat, est enim vehicula nulla, sit amet consequat tellus augue vitae dui. Duis eleifend lectus eget tellus luctus tincidunt. Curabitur at vulputate odio. Mauris porttitor sollicitudin enim, ut tempor libero fermentum ac. Praesent congue tortor tellus, in aliquet ante cursus non. Curabitur mollis viverra felis eu scelerisque. In nec tempor ipsum, non dapibus sem.

Ut iaculis viverra purus, eget condimentum enim volutpat ut. Suspendisse ut tellus eget sem aliquam venenatis et eu dui. Morbi id convallis elit. Aliquam tellus libero, fermentum non condimentum mollis, feugiat vel ante. Aenean magna erat, tempor ut lobortis at, consectetur sed odio. Praesent pulvinar convallis arcu. Nulla facilisi. Etiam feugiat laoreet blandit. Quisque rutrum porttitor diam, id sodales justo ultricies dignissim. Phasellus quis dui orci. In condimentum lorem urna, vel iaculis justo consectetur eu. Nullam tincidunt augue imperdiet ipsum condimentum, ut scelerisque lectus vulputate. Etiam vitae neque auctor, feugiat ipsum vel, ultrices erat.
  </p>
</div>

  <div id="imagemap" class="center">
    <map name="pic1">
      <area shape="rectangle" coords="0,0,310,412" href="https://www.hillaryclinton.com/" title="Hilary" />
      <area shape="rectangle" coords="310,0,620,412" href="http://mylittlepony.hasbro.com/en-us" title="Donald" />
    </map>
    <img src="http://media.salon.com/2016/01/hillary_trump-620x412.jpg" alt="Hilary Vs. Clinton" usemap="#pic1" />
  </div>

<div id="fields" class="center">
  <form>
    First name:<br/>
    <input type="text" name="firstname"><br/>
    Last name:<br/>
    <input type="text" name="lastname"><br/>
    Vote?:<br/>
    <input type="text" name="vote"><br/>
    Why?:<br/>
    <textarea name="jezza" rows="5" columns="50">If you wrote Trump, you're wrong.</textarea><br/>
    <button type="button" onclick="alert('BERNIE WINS!')">Submit</button>
</form>
</div>

<div id="email" class="center">
  <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Email Trump</a>
</div>


<div id="sliderStuff">
  <script type="text/javascript" src="js/jssor.slider.min.js"></script>
      <!-- use jssor.slider.debug.js instead for debug -->
      <script>
          jssor_1_slider_init = function() {
              
              var jssor_1_SlideoTransitions = [
                [{b:0,d:600,y:-290,e:{y:27}}],
                [{b:0,d:1000,y:185},{b:1000,d:500,o:-1},{b:1500,d:500,o:1},{b:2000,d:1500,r:360},{b:3500,d:1000,rX:30},{b:4500,d:500,rX:-30},{b:5000,d:1000,rY:30},{b:6000,d:500,rY:-30},{b:6500,d:500,sX:1},{b:7000,d:500,sX:-1},{b:7500,d:500,sY:1},{b:8000,d:500,sY:-1},{b:8500,d:500,kX:30},{b:9000,d:500,kX:-30},{b:9500,d:500,kY:30},{b:10000,d:500,kY:-30},{b:10500,d:500,c:{x:87.50,t:-87.50}},{b:11000,d:500,c:{x:-87.50,t:87.50}}],
                [{b:0,d:600,x:410,e:{x:27}}],
                [{b:-1,d:1,o:-1},{b:0,d:600,o:1,e:{o:5}}],
                [{b:-1,d:1,c:{x:175.0,t:-175.0}},{b:0,d:800,c:{x:-175.0,t:175.0},e:{c:{x:7,t:7}}}],
                [{b:-1,d:1,o:-1},{b:0,d:600,x:-570,o:1,e:{x:6}}],
                [{b:-1,d:1,o:-1,r:-180},{b:0,d:800,o:1,r:180,e:{r:7}}],
                [{b:0,d:1000,y:80,e:{y:24}},{b:1000,d:1100,x:570,y:170,o:-1,r:30,sX:9,sY:9,e:{x:2,y:6,r:1,sX:5,sY:5}}],
                [{b:2000,d:600,rY:30}],
                [{b:0,d:500,x:-105},{b:500,d:500,x:230},{b:1000,d:500,y:-120},{b:1500,d:500,x:-70,y:120},{b:2600,d:500,y:-80},{b:3100,d:900,y:160,e:{y:24}}],
                [{b:0,d:1000,o:-0.4,rX:2,rY:1},{b:1000,d:1000,rY:1},{b:2000,d:1000,rX:-1},{b:3000,d:1000,rY:-1},{b:4000,d:1000,o:0.4,rX:-1,rY:-1}]
              ];
              
              var jssor_1_options = {
                $AutoPlay: true,
                $Idle: 2000,
                $CaptionSliderOptions: {
                  $Class: $JssorCaptionSlideo$,
                  $Transitions: jssor_1_SlideoTransitions,
                  $Breaks: [
                    [{d:2000,b:1000}]
                  ]
                },
                $ArrowNavigatorOptions: {
                  $Class: $JssorArrowNavigator$
                },
                $BulletNavigatorOptions: {
                  $Class: $JssorBulletNavigator$
                }
              };
              
              var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
              
              //responsive code begin
              //you can remove responsive code if you don't want the slider scales while window resizing
              function ScaleSlider() {
                  var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                  if (refSize) {
                      refSize = Math.min(refSize, 600);
                      jssor_1_slider.$ScaleWidth(refSize);
                  }
                  else {
                      window.setTimeout(ScaleSlider, 30);
                  }
              }
              ScaleSlider();
              $Jssor$.$AddEvent(window, "load", ScaleSlider);
              $Jssor$.$AddEvent(window, "resize", ScaleSlider);
              $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
              //responsive code end
          };
      </script>
  
      <style>
          
          /* jssor slider bullet navigator skin 01 css */
          /*
          .jssorb01 div           (normal)
          .jssorb01 div:hover     (normal mouseover)
          .jssorb01 .av           (active)
          .jssorb01 .av:hover     (active mouseover)
          .jssorb01 .dn           (mousedown)
          */
          .jssorb01 {
              position: absolute;
          }
          .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
              position: absolute;
              /* size of bullet elment */
              width: 12px;
              height: 12px;
              filter: alpha(opacity=70);
              opacity: .7;
              overflow: hidden;
              cursor: pointer;
              border: #000 1px solid;
          }
          .jssorb01 div { background-color: gray; }
          .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
          .jssorb01 .av { background-color: #fff; }
          .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
  
          /* jssor slider arrow navigator skin 02 css */
          /*
          .jssora02l                  (normal)
          .jssora02r                  (normal)
          .jssora02l:hover            (normal mouseover)
          .jssora02r:hover            (normal mouseover)
          .jssora02l.jssora02ldn      (mousedown)
          .jssora02r.jssora02rdn      (mousedown)
          */
          .jssora02l, .jssora02r {
              display: block;
              position: absolute;
              /* size of arrow element */
              width: 55px;
              height: 55px;
              cursor: pointer;
              background: url('img/a02.png') no-repeat;
              overflow: hidden;
          }
          .jssora02l { background-position: -3px -33px; }
          .jssora02r { background-position: -63px -33px; }
          .jssora02l:hover { background-position: -123px -33px; }
          .jssora02r:hover { background-position: -183px -33px; }
          .jssora02l.jssora02ldn { background-position: -3px -33px; }
          .jssora02r.jssora02rdn { background-position: -63px -33px; }
      </style>
      
      <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden; visibility: hidden;">
          <!-- Loading Screen -->
          <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
              <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
              <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
          </div>
          <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden;">
              <div data-p="112.50" style="display: none;">
                  <img data-u="image" src=http://i.imgur.com/v4DJj4F.jpg" />
              </div>
              <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="http://i.imgur.com/yXuBIzn.jpg" />
              </div>
              <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="http://i.imgur.com/mwXyP80.jpg" />
              </div>
              <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="http://i.imgur.com/45TwrsZ.jpg" />
              </div>
              <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="http://i.imgur.com/vqBfEVr.jpg" />
              </div>
              <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="http://i.imgur.com/jc3LjmK.jpg" />
              </div>
              <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="http://i.imgur.com/LYhMDzE.jpg" />
              </div>
              <div data-b="0" data-p="112.50" style="display: none;">
                  <img data-u="image" src="http://i.imgur.com/sI2tauF.jpg" />
              </div>
              <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="http://i.imgur.com/2ZH03gv.jpg" />
              </div>
              <div data-p="112.50" style="display: none;">
                  <img data-u="image" src="http://i.imgur.com/Q7CG8CP.jpg" />
              </div>
              <a data-u="ad" href="http://www.jssor.com" style="display:none">jQuery Slider</a>
          
          </div>
          <!-- Bullet Navigator -->
          <div data-u="navigator" class="jssorb01" style="bottom:16px;right:16px;">
              <div data-u="prototype" style="width:12px;height:12px;"></div>
          </div>
          <!-- Arrow Navigator -->
          <span data-u="arrowleft" class="jssora02l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
          <span data-u="arrowright" class="jssora02r" style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
      </div>
      <script>
          jssor_1_slider_init();
    </script>
  </div>
